nodered/die_tracking.json
[
    {
        "id": "776c23582c104dde",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85e7f8526b4bb0cb",
        "type": "inject",
        "z": "776c23582c104dde",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "036ff9d65eed8f9e"
            ]
        ]
    },
    {
        "id": "036ff9d65eed8f9e",
        "type": "file in",
        "z": "776c23582c104dde",
        "name": "",
        "filename": "/home/iota/shared/log.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "37cb24b8c9222006"
            ]
        ]
    },
    {
        "id": "d36f4e19508119e7",
        "type": "debug",
        "z": "776c23582c104dde",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "37cb24b8c9222006",
        "type": "csv",
        "z": "776c23582c104dde",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "c755a658770cc1f1"
            ]
        ]
    },
    {
        "id": "c755a658770cc1f1",
        "type": "split",
        "z": "776c23582c104dde",
        "name": "",
        "splt": ";",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "topic",
        "x": 770,
        "y": 360,
        "wires": [
            [
                "d36f4e19508119e7",
                "d9eac900bcc9cb44",
                "47857b9bb625bd0b",
                "69c27b6468627865",
                "f69abb19f98709b8",
                "af54b433cc65a9ec",
                "0b66419afda8f550",
                "14a73a8199c81ef9"
            ]
        ]
    },
    {
        "id": "d9eac900bcc9cb44",
        "type": "ui_text",
        "z": "776c23582c104dde",
        "group": "3a87b0bbc84e7ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UID",
        "format": "{{msg.payload.uid}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "47857b9bb625bd0b",
        "type": "ui_text",
        "z": "776c23582c104dde",
        "group": "3a87b0bbc84e7ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ESP",
        "format": "{{msg.payload.ESP}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "69c27b6468627865",
        "type": "ui_text",
        "z": "776c23582c104dde",
        "group": "3a87b0bbc84e7ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 440,
        "wires": []
    },
    {
        "id": "f69abb19f98709b8",
        "type": "ui_text",
        "z": "776c23582c104dde",
        "group": "3a87b0bbc84e7ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 480,
        "wires": []
    },
    {
        "id": "af54b433cc65a9ec",
        "type": "ui_text",
        "z": "776c23582c104dde",
        "group": "3a87b0bbc84e7ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tool Id",
        "format": "{{msg.payload.tool_id}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "0b66419afda8f550",
        "type": "ui_text",
        "z": "776c23582c104dde",
        "group": "3a87b0bbc84e7ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Part Name",
        "format": "{{msg.payload.part}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 560,
        "wires": []
    },
    {
        "id": "14a73a8199c81ef9",
        "type": "ui_text",
        "z": "776c23582c104dde",
        "group": "3a87b0bbc84e7ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Operation",
        "format": "{{msg.payload.operation}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1140,
        "y": 600,
        "wires": []
    },
    {
        "id": "3a87b0bbc84e7ee8",
        "type": "ui_group",
        "name": "Die Tracking",
        "tab": "23c8b4d72a2cb91e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23c8b4d72a2cb91e",
        "type": "ui_tab",
        "name": "AtomOne Technologies",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]